
    *{
        margin: 0px;
        padding: 0px;       
        font-family: 12px 'Nunito Sans';
        box-sizing:border-box;
        scroll-behavior: smooth;
    }
 .lnk{
    text-decoration: underline;
    color: black;
}
.lnk:hover{
    color: black;
}
.logo{
    padding-left: 140px;
    padding-right: 370px;
}

.tem{
    background-color:#10abf8;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    padding: 9px;
}
.tem:hover{
    color: white;
    text-decoration: none;
}
.nego{
    border-radius: 3px;
    text-decoration: none;
    color: white;
    padding: 9px;
    transition: 0.3s;
    position: relative;
    top: 10px;
    font-size: 14px;
    
}
.nego:hover{
    background-color: #0aaafaa6;
    border-radius: 3px;
    text-decoration: none;
    color: white;
 
}
.pic{
    position: relative;
    width:100%;
    height: 30%;
}
.bar{
    position: relative;
    bottom: 70px;
    width: 560px;
   left: 560px;
}
body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
  }
  
  a {
    color: #000;
  }
  
 
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }

  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: 0.2s ease-out;
  }
  

  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  .hd{
    position: relative;
    bottom: 210px;
    padding-left: 720px;
    color: white;
  }
  .lp{
    position: relative;
    padding-left: 10px;
    padding-top: 12px;
    background-color:#e0edf9;
    width: 73%;
    margin-left: 8%;
    height: 47px;
    border-radius: 4px;
  }
  .bign{
    position: relative;
    padding-top: 2%;
    margin-left: 8%;
  }
  .vl {
    position: relative;
    border-left: 2px solid #e0edf9;
    height: 210px ;
    margin-left: 10px;
    padding-left:20px;
    
  }
  .bl {
    position: relative;
    border-left: 2px solid #e0edf9;
    height: 150px ;
    top: 53px;
    padding-left:20px;
    
  }
  .nl {
    position: relative;
    border-left: 2px solid #e0edf9;
    height: 150px ;
    top: 53px;
    padding-left:20px;
    
  }
  .jl{
    position: relative;
    border-left: 2px solid #e0edf9;
    height: 150px ;
    top: 53px;
    padding-left:20px;
    
  }
  .yl{
    position: relative;
    border-left: 2px solid #e0edf9;
    height: 120px ;
    top: 53px;
    padding-left:20px;
    
  }

  .zl{
    position: relative;
    border-left: 2px solid #e0edf9;
    height: 70px ;
    top: 53px;
    padding-left:20px;
  }
  .ol{
    position: relative;
    border-left: 2px solid #e0edf9;
    height: 30px ;
    top: 53px;
    padding-left:20px;
  }
  .pl{
    position: relative;
    border-left: 2px solid #e0edf9;
    height: 140px ;
    top: 53px;
    padding-left:20px; 
  }
  .kl{
    position: relative;
    border-left: 2px solid #e0edf9;
    height: 70px ;
    top: 53px;
    padding-left:20px; 
  }
  .list2{
    position: relative;
    bottom: 32px;
  }
  .list1{
    position: relative;
    top: 19px;
  }

  .cl{
    text-decoration: none;
    color: #000;
  
  }
  .cl:hover{
    color: #000;

  }
  .secnd{
    position: relative;
    padding-left: 30%;
    bottom: 280px;
  }
 
  .nav-footer{
    list-style-type: none;
    display:flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    font-size: 12px;
    margin: 40px;
}

